<!DOCTYPE html>
<html lang="ko">
<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>AIDitor</title>
   <link rel="stylesheet" href="./stylesheets/style.css" />
   <script src="./javascripts/popup.js"></script>
</head>
<body>
   <div class="container">
      <div class="sidebar">
         <div class="logo">
            <a href="/"><img src="./images/mainlogo.png" alt="icon" style="height: 40px" /></a>
         </div>
         <ul>
            <li>
               <a href="/"><img src="./images/main.png" alt="icon" class="menu-icon" /> Main</a>
            </li>
            <li>
               <a href="#editor"><img src="./images/editor.png" alt="icon" class="menu-icon" /> Additor</a>
               <ul class="submenu">
                  <li><a href="/moderation">Moderation</a></li>
                  <li><a href="#label-mosaic">Label Mosaic</a></li>
                  <li><a href="/face">Face Extraction</a></li>
               </ul>
            </li>
            <li>
               <a href="#user"><img src="./images/user.png" alt="icon" class="menu-icon" /> User</a>
            </li>
         </ul>
         <div class="account">
            <h3>Account</h3>
            <ul>
               <li>
                  <a href="#settings"><img src="./images/setting.png" alt="icon" class="menu-icon" /> Settings</a>
               </li>
               <li>
                  <a href="#logout"><img src="./images/logout.png" alt="icon" class="menu-icon" /> Logout</a>
               </li>
            </ul>
         </div>
         <div class="developer">
            <p>Developer:</p>
            <p>+jiwon0301@gmail.com</p>
            <p>+juyeon0301@naver.com</p>
         </div>
      </div>
      <div class="main">
         <div class="header user-card">
            <h2>Hi User Name!</h2>
            <div class="user-info">
               <span>User Name</span>
               <img src="./images/profile.png" alt="User Profile" width="40" height="40" />
            </div>
         </div>
         <div class="content">
            <h3 class="subtitle">Face Extraction</h3>
            <br />
            <div class="moderation">
               <div class="icon">
                  <img src="images/logo.png" alt="Moderation Icon">
               </div>
               <h2>Complete!</h2>
               <p class="video-url" id="video-name"><%= videoName ? videoName : 'mode_video.mp4' %></p>
               <button class="btn btn-download" id="download-btn" style="color: white;">Download</button>
               <div class="timeline">
                  <img src="images/timeline.png" alt="Timeline" style="width: 60%;">
               </div>
               <div class="summary">
                  <h3>Summary</h3>
                     <ul>
                        <li><span class="summary-icon first"></span> knife - 3 times</li>
                        <li><span class="summary-icon second"></span> node - 2 times</li>
                        <li><span class="summary-icon third"></span> swear - 5 times</li>
                        <li><span class="summary-icon fourth"></span> OTHERS - etc.</li>
                     </ul>          
               </div>     
            </div>
         <div class="download-message" id="download-message" style="display: none;">
      <img src="images/mp4.png" alt="Download Icon"> <span id="download-file-name">filename.mp4</span>
      <img src="images/down.png" alt="Download Icon"> 
   </div>
   <script>
      document.getElementById('download-btn').addEventListener('click', function () {
          const videoName = document.getElementById('video-name').textContent;
          window.location.href = `/download?fileName=${videoName}`;
          showDownloadMessage(videoName);
      });

      function showDownloadMessage(fileName) {
          var downloadMessage = document.getElementById('download-message');
          var downloadFileName = document.getElementById('download-file-name');
          downloadFileName.textContent = fileName;
          downloadMessage.style.display = 'flex'; // Flexbox 사용으로 변경
          setTimeout(function () {
              downloadMessage.style.display = 'none';
          }, 3000);
      }
   </script>
</body>
</html>
