body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-color: #f8f9fa;
}

.container {
   display: flex;
   height: 100vh;
   padding: 3%;
   box-sizing: border-box;
}

.sidebar {
   width: 15%;
   height: 130%;
   background-color: #fff;
   padding: 20px;
   margin-right: 3%;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border-radius: 10px;
   box-sizing: border-box;
}

.logo {
   background-color: #fff;
   padding: 40px 20px;
   border-radius: 10px;
   text-align: center;
   align-items: center;
   border-bottom: 1px solid #ccc;
}

.logo h1 {
   font-size: 35px;
   font-weight: 800;
   margin: 0;
}

.sidebar ul {
   list-style-type: none;
   padding: 0;
}

.sidebar ul li {
   margin: 10px 0;
}

.sidebar ul li a {
   text-decoration: none;
   color: #000;
   font-weight: bold;
   display: flex;
   align-items: center;
   padding: 10px;
   border-radius: 5px;
   width: 90%;
}

.sidebar ul li a img {
   margin-right: 10px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
   background-color: #dcdcdc;
   color: #000;
}

.sidebar ul .submenu {
   list-style-type: none;
   padding-left: 20px;
}

.sidebar ul .submenu li {
   margin: 5px 0;
}

.sidebar ul .submenu li a {
   text-decoration: none;
   color: #000;
   font-weight: normal;
   display: block;
   padding: 8px;
   border-radius: 5px;
   width: 90%;
}

.sidebar ul .submenu li a:hover,
.sidebar ul .submenu li a.active {
   background-color: #dcdcdc;
   color: #000;
}

.account h3 {
   margin-top: 20px;
   font-size: 18px;
}

.account ul {
   list-style-type: none;
   padding: 0;
}

.account ul li {
   margin: 10px 0;
}

.account ul li a {
   text-decoration: none;
   color: #000;
   display: flex;
   align-items: center;
   padding: 10px;
   border-radius: 5px;
   width: 90%;
}

.account ul li a img {
   margin-right: 10px;
}

.account ul li a:hover {
   background-color: #dcdcdc;
   color: #000;
}

.developer {
   font-size: 12px;
   text-align: center;
   margin-top: auto;
   border-top: 1px solid #ccc;
   padding-top: 10px;
}

.main {
   width: 71%;
   flex-grow: 1;
   height: 100%;
   box-sizing: border-box;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
}

.header .user-card {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 10px;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: none;
}

.header h2 {
   margin: 0;
}

.content {
   margin-top: 0px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.content .subtitle {
   color: red;
   margin-top: 2;
   margin-bottom: 0;
   font-size: 25px;
}

.content h2 {
   margin-top: 2;
   margin-bottom: 0;
}

.content p {
   margin: 2;
}

.cards {
   display: flex;
   justify-content: space-between;
   gap: 3%;
   width: 100%;
   flex-grow: 1;
}

.card {
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   justify-content: center;
   padding: 20px;
   border-radius: 10px;
   width: calc((100% - 6%) / 3);
}

.card img {
   width: 100%;
   height: auto;
   justify-content: center;
}

.card h3 {
   margin-top: 10px;
   margin-bottom: 10px;
}

.card p {
   margin-bottom: 0;
}

.request-btn {
   background-color: #100db1;
   border-radius: 40px;
   border-top: 30px;
   border-bottom: 30px;
   font-size: 23px;
}

.footer {
   margin-top: 20px;
   padding: 20px;
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   width: 100%;
   text-align: center;
   border-radius: 10px;
   box-sizing: border-box;
}

.footer ul {
   list-style-type: none;
   padding: 0;
}

.footer ul li {
   margin: 5px 0;
}

.user-info {
   display: flex;
   align-items: center;
   gap: 10px;
}

.user-info img {
   border-radius: 50%;
}

.user-info span {
   font-weight: bold;
}

.menu-icon {
   height: 20px;
}

.requestform {
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   padding: 20px;
   border-radius: 10px;
   width: 100%;
   display: flex;
   align-items: center;
   box-sizing: border-box;
}

.requestform img {
   vertical-align: top;
   width: 20%;
   height: auto;
   margin-right: 20px;
   margin-top: 20px;
}

.requestform .form-content {
   flex-grow: 1;
}

.requestform h3 {
   font-size: 20px;
   color: #100db1;
   margin-top: 0;
   margin-bottom: 20px;
}

form {
   width: 100%;
}

form div {
   margin-bottom: 15px;
}

form label {
   font-size: 20px;
   display: block;
   margin-bottom: 5px;
   font-weight: bold;
}

form input[type='text'] {
   width: 95%;
   font-size: 17px;
   padding: 20px;
   margin: 10px 0;
   border: 1px solid #ccc;
   border-radius: 5px;
}

.toggle-container {
   display: flex;
   align-items: center;
   border-radius: 40px;
   overflow: hidden;
}

.toggle-btn {
   padding: 15px 25px;
   border: none;
   font-size: 16px;
   cursor: pointer;
   outline: none;
   transition: background-color 0.3s ease, color 0.3s ease;
}

.selected {
   background-color: #100db1;
   color: white;
}

.toggle-btn:not(.selected) {
   background-color: #dfdfdf;
   color: black;
}

.toggle-btn:first-child {
   border-top-left-radius: 40px;
   border-bottom-left-radius: 40px;
}

.toggle-btn:last-child {
   border-top-right-radius: 40px;
   border-bottom-right-radius: 40px;
}

form button {
   width: 100%;
   padding: 15px;
   background-color: #007bff;
   color: #fff;
   border: none;
   border-radius: 5px;
   font-size: 16px;
   cursor: pointer;
}

form button:hover {
   background-color: #0056b3;
}

.moderation {
   text-align: center;
   background-color: #ffffff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   min-height: 540px;
}

.moderation .icon img {
   width: 140px;
   height: auto;
}

.moderation h2 {
   color: #ff0000;
   margin: 20px 0;
}

.moderation .video-url {
   color: #555555;
   font-style: italic;
   margin-bottom: 20px;
}

.moderation .timeline img {
   width: 100%;
   height: auto;
   margin-bottom: 20px;
}

.moderation .description {
   color: #333333;
   margin-bottom: 20px;
   font-size: 20px;
   padding: 0 20% 0 20%;
}

.moderation .buttons {
   display: flex;
   justify-content: space-around;
}

.moderation .btn {
   text-decoration: none;
   color: #ffffff;
   padding: 10px 20px;
   border-radius: 5px;
   font-weight: bold;
   display: inline-block;
}

.moderation .btn-save {
   background-color: #100db1;
   border-radius: 40px;
   padding: 20px 40px; /* 패딩을 두 배로 증가 */
   font-size: 20px; /* 폰트 크기를 두 배로 증가 */
}

.moderation .btn-edit {
   background-color: #aaaaaa;
   border-radius: 40px;
   padding: 20px 40px; /* 패딩을 두 배로 증가 */
   font-size: 20px; /* 폰트 크기를 두 배로 증가 */
}

.moderation .summary {
   text-align: center;
   margin-top: 20px;
}

.moderation .summary h3 {
   margin-bottom: 10px;
}

.moderation .summary ul {
   list-style-type: none;
   padding: 0;
}

.moderation .summary ul li {
   margin: 5px 0;
}

.moderation .summary-icon {
   display: inline-block;
   width: 10px;
   height: 10px;
   margin-right: 5px;
   border-radius: 50%;
}

.moderation .summary-icon.first {
   background-color: #100db1;
}

.moderation .summary-icon.second {
   background-color: #feca57;
}

.moderation .summary-icon.third {
   background-color: #763cef;
}

.moderation .summary-icon.fourth {
   background-color: #f80d38;
}

.moderation .btn-download {
   background-color: #100db1;
   color: #ffffff;
   padding: 10px 20px;
   border-radius: 5px;
   font-weight: bold;
   border: none;
   cursor: pointer;
   margin-bottom: 20px;
}

#download-message {
   position: fixed;
   bottom: 30px;
   right: 70px;
   background-color: #dfdfdf;
   color: black;
   padding: 25px 30px;
   border-radius: 40px;
   font-weight: bold;
   z-index: 1000;
   display: flex; /* Flexbox 사용 */
   align-items: center; /* 수직 중앙 정렬 */
   justify-content: center;
}

.download-message img {
   width: 16px;
   margin-left: 5px;
   margin-right: 5px;
}

.tgl {
   display: none;
}
.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
   box-sizing: border-box;
}
.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl + .tgl-btn::-moz-selection {
   background: none;
}
.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
   background: none;
}
.tgl + .tgl-btn {
   outline: 0;
   display: block;
   height: 60px;
   position: relative;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.tgl + .tgl-btn:after,
.tgl + .tgl-btn:before {
   position: relative;
   display: block;
   content: '';
   width: 20%;
   height: 100%;
}
.tgl + .tgl-btn:after {
   left: 0;
}
.tgl + .tgl-btn:before {
   display: none;
}
.tgl:checked + .tgl-btn:after {
   left: 80%;
}

.tgl-light + .tgl-btn {
   background: #f0f0f0;
   border-radius: 40px;
   padding: 2px;
   transition: all 0.4s ease;
}
.tgl-light + .tgl-btn:after {
   border-radius: 40px;
   background: #fff;
   transition: all 0.2s ease;
}
.tgl-light:checked + .tgl-btn {
   background: #feca57;
}

.toggle-container {
   display: flex;
   align-items: center;
   gap: 10px;
}

#toggle-text {
   font-size: 18px;
   font-weight: bold;
}
